{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="{% static 'img/core-img/hammer.png' %}" alt="">
    </div>

    {% include 'partials/_menu.html' %}

    <!-- Receipe Slider -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3>Minhas diligências</h3>
                </div>
                <table class="table table-striped" >
                    <thead>
                    <tr>
                        <th scope="col">Processo</th>
                        <th scope="col">Classe</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Prioridade</th>
                        <th scope="col">Diligência</th>
                        <th scope="col">Data da diligência</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if diligencias %}
                        {% for diligencia in diligencias %}

                            <tr>
                                <td>{{ diligencia.processo }}</td>
                                <td>{{ diligencia.classe }}</td>
                                <td>{{ diligencia.tipo }}</td>
                                <td>{{ diligencia.prioridade }}</td>
                                <td>{{ diligencia.diligencia }}</td>
                                <td>{{ diligencia.data_diligencia }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <p>Não há diligências cadastradas.</p>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include 'partials/_footer.html' %}
{% endblock %}